
// default paramters

params {
  // Workflow selection
  workflow = null
  run_discovery = false
  run_mapping = false
  
  // Other parameters
	samplesheet = null
	regions = null
	reference = null
  outdir = 'results'
	outPrefix = 'wgs'
  skip_mapping = false
  skip_fastp = false
	split_lines = 0 // default: disabled
	skip_markdup = false
}


// Capture Nextflow log files
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

// Pointers to profile configs
//    you can select the relevant profile from the command line with -profile <profile-name>
//    e.g. nextflow run main.nf -profile seqera

profiles { 
  local { 
    includeConfig './conf/local.config' 
    }
  seqera { 
    includeConfig './conf/aws_seqera.config' 
    }
}

