/*
* This configuration file is for local runs
*/

docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
}

executor {
    name = 'local'
    cpus   = 8
    memory = '40GB'
}


process {

    withName: 'FASTP' {
        container = 'community.wave.seqera.io/library/fastp:0.24.0--62c97b06e8447690'
        cpus = 3
        memory = 4.GB
    }

    withName: 'FASTQC' {
        container = 'community.wave.seqera.io/library/fastqc:0.12.1--af7a5314d5015c29'
        cpus = 4
        memory = 8.GB
    }

    withName: 'BWA_INDEX' {
        container = 'community.wave.seqera.io/library/bwa:0.7.18--37afaef6d7284afe'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_FAIDX' {
        container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
        cpus = 1
        memory = 4.GB
    }

    withName: 'INDEX_BAM' {
        container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
        cpus = 2
        memory = 4.GB
    }

    withName: 'SAMTOOLS_STATS' {
        container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_MERGE' {
        container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
        cpus = 1
        memory = 4.GB
    }

    withName: 'BWA_MEM' {
        container = 'community.wave.seqera.io/library/bwa_samtools:9aa8b5c4ec1a55e0'
        cpus = 4
        memory = 10.GB
    }

    withName: 'MOSDEPTH' {
        container = 'community.wave.seqera.io/library/mosdepth:0.3.10--259732f342cfce27'
        cpus = 1
        memory = 6.GB
    }

    withName: 'MULTIQC' {
        container = 'community.wave.seqera.io/library/multiqc:1.28--77be943f40819715'
        cpus = 1
        memory = 2.GB
    }

    withName: 'BCFTOOLS_GRP_CALL' {
        container = 'community.wave.seqera.io/library/bcftools:1.21--4335bec1d7b44d11'
        cpus = 4
        memory = 12.GB
    }

    withName: 'BCFTOOLS_CONCAT' {
        container = 'community.wave.seqera.io/library/bcftools:1.21--4335bec1d7b44d11'
        cpus = 4
        memory = 12.GB
    }

    withName: 'GATK4_MARKDUPLICATES' {
        container = 'community.wave.seqera.io/library/gatk4_samtools:18ea4372782004dc'
        cpus = 2
        memory = 16.GB
    }

    withName: 'AWK_SPLITBED' {
        container = 'community.wave.seqera.io/library/pip_awk:e0daab0638d06dfd'
        cpus = 1
        memory = 2.GB
    }

    withName: 'MULTIQC' {
        container = 'community.wave.seqera.io/library/multiqc:1.28--77be943f40819715'
        cpus = 1
        memory = 4.GB
    }

}

