

// default paramters
// Check mandatory parameters

params {
	samplesheet = null
	regions = null
	reference = null
  outdir = 'results'
	outPrefix = 'wgs'
  skip_mapping = false
  skip_fastp = false
	split_lines = 0 // default: disabled
	skip_markdup = false
}

// Pointers to profile configs
//    you can select the relevant profile from the command line with -profile <profile-name>
//    e.g. nextflow run main.nf -profile awsbatch


profiles { 
  local { 
    includeConfig './conf/local.config' 
    }
  seqera { 
    includeConfig './conf/aws_batch_seqera.config' 
    }
}



